* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.container {
    height: 100vh;
}

.container img {
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    z-index: -1;
}

.main-title {
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 3rem;
    transform: translate(-50%, -30%)
}